params {
    input  = 'samplesheet.csv'
    outdir = 'results'
}

process {
    memory = '3 GB'
    cpus   = 1
}

executor {
    queueSize = 2
}

profiles {
    docker {
        docker.enabled = true
    }
    local {
        docker.enabled = false
        process.executor = 'local'
    }
}

report.enabled   = true
timeline.enabled = true